body {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

div {
    background-color: white;
    padding: 50px 25px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.63);
}

h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 20px;
    padding-bottom: 5px;
}

input {
    border-radius: 100px;
    height: 30px;
}

input:not([type=submit]) {
    border: 1px solid gray;
    text-align: center;
    font-size: 1rem;
}

input[type=submit] {
    background-color: aquamarine;
    margin-top: 25px;
    border-width: 0;
}