<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Acesso</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body >
    <main>
        <div class="cont_acesso">
            <h1 >
                Faça Login
            </h1>
            <form action="/acesso" method="post">
                <label for="iuser">
                    Usuário:
                </label>
                <input type="text" name="user" id="iuser">
                <label for="ipass">
                    Senha:
                </label>
                <input type="password" name="pass" id="ipass">
                <input type="submit" value="Login">
            </form>
        </div>
    </main>
</body>
py-s
</html>